.App{
  margin: auto;
  width:50%;
  border: 5px solid rgb(0,0, rgb(56, 89, 201));
  background-color:rgb(0,0, rgb(16, 41, 124)) ;
  padding: 10px;
}

.add-btn { 
  float: right;
  background-color:  red;
  color: #ffff;
  
}
